/*======================================*/
/* CUSTOMIZED STYLES */
/*======================================*/
.gallery {
  clear: both;
  margin: 10px;
}

#related_products .items_container {
  width: 377px;
}

#related_items .items_container {
  width: 750px;
}

.gallery_image {
  margin-bottom: 20px;
  margin-left: 130px;
}

.scroller {
  display: inline-block;
}

.control {
  font-size: 80px;
  float: left;
  padding-top: 93px;
}
   
.control a,
.control a:link,
.control a:active,
.control a:hover {
  color: #000;
  margin: 0 10px;
  text-decoration: none;
}
    
.control a:hover {
  color: #bbb;
  text-decoration: none;
}

.control:last-child {
}

.items_container {
  float: left;
  padding: 10px;
  border-color: #000;
  border-style: solid;
  border-width: 3px;
}

ul {

}

ul li {
  margin-right: 20px;
}

ul li div {
  border-color: #ccc;
  border-style: solid;
  border-width: 3px;
  padding: 5px;
}